<app-audio></app-audio>
<section class="with-before-after" appScrollAnimation>
  <app-home></app-home>
</section>
<section appScrollAnimation>
  <app-calendar></app-calendar>
</section>

<section class="with-before-after" appScrollAnimation>
  <app-wedding [name]="name"></app-wedding>
</section>
<section  appScrollAnimation>
<app-hora></app-hora>
</section>

<section id="dressCode" appScrollAnimation>
  <app-dress-code></app-dress-code>
</section>
<section
  class="section-background-gift"
  style="height: 100vh; text-align: -webkit-center"
  appScrollAnimation
>
  <app-gift></app-gift>
</section>
<section
  class="section-background-confirm"
  style="height: 100vh"
  appScrollAnimation
>
 <app-confirm [data]="data"></app-confirm>
</section>
<section appScrollAnimation>
  <app-contador></app-contador>
</section>
<section appScrollAnimation>
  <app-carousel></app-carousel>
</section>