@font-face {
  font-family: "Lora";
  src: url('https://fonts.googleapis.com/css2?family=Forum&family=Lora&display=swap');
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;  // Asegura que no haya barras de desplazamiento por contenido adicional
  box-sizing: border-box; // Incluye padding y border en el width y height
  position: relative;
  font-family: Lora;
  font-size: 20px;

  // Combina la imagen de fondo con un degradado en la parte superior e inferior
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1)), 
    url("/assets/background/fondo.png");
  background-size: cover; /* Escala la imagen para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
section.with-before-after {
  position: relative; /* Asegúrate de que los ::before y ::after estén posicionados relativos a la sección */

  &::before, &::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Un valor bajo para que esté por debajo del contenido */
  }

  &::before {
    top: 0;
    left: 0;
    width: 80%;
    height: 40%;
    background-image: url("/assets/background/1.png");
  }

  &::after {
    bottom: 0;
    right: 0;
    width: 80%;
    height: 40%;
    background-image: url('/assets/background/2.png');
  }

  /* Aplica un z-index más alto al contenido */
  app-wedding {
    position: relative; /* Asegúrate de que el contenido esté dentro del flujo de la sección */
    z-index: 2; /* Un valor mayor para que esté por encima de ::before y ::after */
  }
}

.animate-in {
  animation: slide-up 1s ease forwards;
}


@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px); /* Empieza más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición original */
  }
}
