<div class="wedding-invitation">
    <div class="curved-text">
        <svg width="400" height="150" viewBox="0 0 400 150">
          <!-- Definir el camino curvado -->
          <path id="curve" fill="transparent" d="M50,100 C200,0 350,100 350,100"/>
          <!-- Texto curvado -->
          <text width="100">
            <textPath xlink:href="#curve" startOffset="50%" text-anchor="middle">
              ¡NOS CASAMOS!
            </textPath>
          </text>
        </svg>
      </div>
      <h2>{{name}}</h2>
      <p class="invitation-text" style="font-size: 0.8rem !important;">
      ¡Te invitamos a celebrar nuestro amor en este día tan especial!
    </p>
  
    <div class="date-container">
      <span class="date-item">24</span>
      <span class="separator">|</span>
      <span class="date-item" style="font-size: 30px !important;">NOV</span>
      <span class="separator">|</span>
      <span class="date-item">2024</span>
    </div>
   
  </div>