<div class="wedding-invitation">
  <h3>Lugar de la ceremonia:      </h3>
  <div class="location">
    <i class="fas fa-map-marker-alt"></i>
    Los Naranjos Norte Parcela 2E, San Bernardo
  </div>

  <a class="map-button"        
  href="https://maps.app.goo.gl/UDZ679qyKBRQUaCh9"
  target="_blank">VER MAPA</a>

    <h3 class="mt-4">Hora de inicio:</h3>
    <p class="invitation-text">
      La recepción de invitados comenzará a las 16:00, ¡te esperamos con puntualidad para disfrutar cada momento!
    </p>
  
</div>