<div class="wedding-invitation">
  <h2 class="wedding-title">Lugar de la ceremonia</h2>

  <div class="location">
    <i class="fas fa-map-marker-alt"></i>
    Los Naranjos Norte Parcela 2E, San Bernardo
  </div>

  <a class="map-button"        
  href="https://maps.app.goo.gl/UDZ679qyKBRQUaCh9"
  target="_blank">VER MAPA</a>

    <h2 class="dresscode-title mt-4">Hora de inicio</h2>

    <p class="invitation-text">
      La recepción de invitados comenzará a las 16:00
    </p>
  <p class="invitation-text">
    ¡Te esperamos con puntualidad para disfrutar cada momento!
  </p>
</div>