<div class="calendar">
  <div class="calendar-header">
    <span class="month">NOVIEMBRE</span>
    <span class="year">2024</span>
  </div>
  <table class="calendar-table">
    <thead>
      <tr>
        <th>L</th>
        <th>M</th>
        <th>X</th>
        <th>J</th>
        <th>V</th>
        <th>S</th>
        <th>D</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="disabled">28</td>
        <td class="disabled">29</td>
        <td class="disabled">30</td>
        <td class="disabled">31</td>
        <td>01</td>
        <td>02</td>
        <td>03</td>
      </tr>
      <tr>
        <td>04</td>
        <td>05</td>
        <td>06</td>
        <td>07</td>
        <td>08</td>
        <td>09</td>
        <td>10</td>
      </tr>
      <tr>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
      </tr>
      <tr>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td class="highlight">
          <i class="fas fa-heart">
            <span>24</span>
          </i>
        </td>
      </tr>
      <tr>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td class="disabled">01</td>
      </tr>
    </tbody>
  </table>
</div>
