.logo-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente (si es necesario) */
    padding: 20px;            /* Espaciado alrededor del logo */
    width: 100%;              /* Ocupa el ancho completo de la pantalla */
  
    .wedding-logo {
      max-width: 100%;         /* Hace que el logo se ajuste al ancho de su contenedor */
      height: auto;            /* Mantiene la proporción del logo */
      display: block;          /* Elimina el espacio debajo de la imagen */
    }
  }
  
  @media (max-width: 768px) {
    .logo-container {
      padding: 10px;           /* Menos padding en pantallas pequeñas */
    }
  
    .wedding-logo {
      max-width: 80%;          /* Reducir el tamaño máximo en pantallas pequeñas */
    }
    
  }
  @media (min-width: 1000px) {
    .logo-container .wedding-logo {
      max-width: 1000px; /* Limita el tamaño máximo del logo a 1000px */
    }
  }