<h2 >Nuestro 'y vivieron felices para siempre' comienza en...</h2>

<div class="countdown">
    <div class="countdown-item">
      <span class="countdown-time">{{ days }}</span>
      <span class="countdown-label">DÍAS</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-time">{{ hours }}</span>
      <span class="countdown-label">HORAS</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-time">{{ minutes }}</span>
      <span class="countdown-label">MINUTOS</span>
    </div>
    <div class="countdown-item">
      <span class="countdown-time">{{ seconds }}</span>
      <span class="countdown-label">SEGUNDOS</span>
    </div>
  </div>
  